version: '3.8'
services:
  postgres:
    image: postgres:13
    container_name: restaurant-postgres
    environment:
      POSTGRES_DB: restaurant_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: restaurante123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: restaurant-backend
    ports:
      - "5001:5001"
    environment:
      - DB_USER=postgres
      - DB_HOST=postgres
      - DB_NAME=restaurant_db
      - DB_PASSWORD=restaurante123
      - DB_PORT=5432
      - PORT=5001
    depends_on:
      - postgres
    volumes:
      - ./backend:/app
      - /app/node_modules

volumes:
  postgres_data: